$font__main: 'Arial', Helvetica, sans-serif;
$font__header: 'Arial Narrow Bold Italic';
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.6;