nav {
    margin-bottom: 1em;
    float: right;
	
	li {
		display: inline;
    	font-size: 22px;
    	margin-left: 1em;
    }
}

@media screen and (max-width:500px) {
    nav {
    	float: none;

    	li {
	        margin: 0 0 0.5em 0;
	        display: block;
    	}
    }
}